<div>
  <h1>Books</h1>
  <div (click)="getBooks()">Get books</div>
  <div>
    <ul>
      <li *ngFor="let book of books">
        {{book.title}} (<span (click)="getBookDetails(book.id)">get details</span>)
      </li>
    </ul>
  </div>
  <div *ngIf="details">
    <hr/>
    <h3>{{details.title}}</h3>
    <div *ngFor="let author of details.authors">{{author.firstName}} {{author.lastName}}</div>
    <div>{{details.publisher.name}}</div>
  </div>
  <div *ngIf="error">Global error: {{error.status}} - {{error.statusText}}</div>
  <div *ngIf="validationError">
    <ul>
      <li *ngFor="let message of validationError.messages">
        <strong>{{message.property}}</strong> - {{message.message}}
      </li>
    </ul>
  </div>
</div>